.App {
  font-family: sans-serif;
  text-align: center;
}
/* Styles for Splash Screen */
.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles for logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  animation: fade-in 2s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Styles for app motive */
.motive {
  margin-top: 20px;
  animation: slide-up 2s ease;
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.motive h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  animation: fade-in 2s ease;
}
